// Place all the styles related to the cover_letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.cover-letter-index {
  margin-bottom: 40px;

  tr {
    &.question {
      height: 50px;
      font-weight: bold;
    }
    td.cl-content {
      white-space: pre-wrap;
    }
  }
}

#cover_letter_question {
  width: 700px;
  hegith: 400px;
  resize: none;
}

#cover_letter_answer {
  width: 700px;
  height: 400px;
  resize: none;
}
